@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light;
  }
}

@layer components {
  .nav-link {
    @apply text-2xl;
  }

  .container {
    @apply flex flex-wrap flex-row h-fit rounded-md items-start gap-2 pb-20 max-w-full;
  }

  .picture-container {
    @apply p-2.5 m-2.5;
  }

  .bio-container {
    @apply flex-1 bg-background-light text-2xl p-2.5;
  }

  .portfolio-item {
    @apply flex flex-col h-auto bg-background-light rounded-3xl p-5 m-2.5 w-full;
  }

  .about-container {
    @apply text-lg bg-background-light p-5 m-5 w-full text-left;
  }

  .footer {
    @apply fixed bottom-0 left-0 bg-background-light w-full;
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}